# Homolog
cd /home/software/softeng
git fetch origin
git pull origin develop
docker-compose -f /home/software/softeng/docker-compose.staging.yml down
docker-compose -f /home/software/softeng/docker-compose.staging.yml up --build -d
docker exec softeng python3 manage.py makemigrations
docker exec softeng python3 manage.py migrate
# Run Sesame triplestore
docker-compose up -d

# Production
cd /home/software/softeng
git fetch origin
git pull origin master
echo y | docker-compose -f /home/software/softeng/docker-compose.deploy.yml rm --stop softeng-nginx
echo y | docker-compose -f /home/software/softeng/docker-compose.deploy.yml rm --stop softeng-prod
docker-compose -f /home/software/softeng/docker-compose.deploy.yml up --build -d
docker exec softeng-prod python3 manage.py makemigrations
docker exec softeng-prod python3 manage.py migrate
